---
import people from "../data/people.yaml";

// This whole shenanigans is required to use dynamic imports in the SSR/build step.
const images = import.meta.glob("../assets/people/*");
for (const person of people) {
  const { default: imagePath } = await (
    await images[`../assets/${person.image}`]
  )();
  person.imagePath = imagePath;
}
---

{people
  .sort((a, b) => a.sort.localeCompare(b.sort))
  .map((person) => (
    <section>
      <header>
        <h2>{person.name}</h2>
        <span>{person.title}</span>
      </header>
      <article>{person.text}</article>
      <img src={person.imagePath} alt={person.name} />
    </section>
  ))}

<style>
  section {
    display: grid;
    grid-template-areas: "header image" "text image";
    gap: 0.5em 1em;

    & + section {
      margin-top: 2em;
    }
  }

  header {
    text-align: right;

    h2 {
      color: var(--cardinal);
      font-size: 2rem;
      font-variant: petite-caps;
      font-weight: 400;
    }

    span {
      font-style: italic;
    }
  }

  article {
    border-top: 1px solid var(--cardinal);
    font-size: smaller;
    padding-top: 0.5em;
    text-align: justify;
  }

  img {
    border: 2px solid var(--cardinal);
    border-radius: 0.25em;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    grid-area: image;
    margin-top: 0.4em;
    padding: 2px;
  }

  section:nth-child(even) {
    grid-template-areas: "image header" "image text";

    header {
      text-align: left;
    }
  }
</style>
